* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    #map {
        border: .1svw solid black;
        position: relative;
        div {
            position: absolute;
        }
        .square {
            border: 1px solid black;
        }
        z-index: 9;
    }
    #perso {
        position: absolute;
        background-color: yellow;
        z-index: 12;
    }
    #selector {
        position: absolute;
        bottom: -10svw;
        left: 0svw;
        width: 100svw;
        height: 10svw;
        background-color: rgba(211, 211, 211, 0.744);
        z-index: 10;
        transition: bottom ease-in-out .5s;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 70%;
            padding: .5svw;

            &:hover {
                height: 80%;
                padding: 0svw;
            }
        }
    }
    #display {
        position: absolute;
        transform-origin: 50% 50%;
        z-index: 5;
    }
}

.bat{

    img{
        width: 100%;
    }
}

.belt{
    .item{
        --size: 50%;
        position: absolute;
        width: var(--size);
        transition: all linear 1s;
        
        &._0deg{
            top: 20%;
            left: -25%;
            &._{
                left: 75%;
            }
        }
        &._90deg{
            left: 20%;
            top: -25%;
            &._{
                top: 75%;
            }
        }
        &._180deg{
            top: 20%;
            left: 75%;
            &._{
                left: -25%;
            }
        }
        &._270deg{
            left: 20%;
            top: 75%;
            &._{
                top: -25%;
            }
        }

    }
}